In [10]:
import csv
f=open('guns.csv','r')
r=csv.reader(f)
data=list(r)
print(data[0:4])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4']]

import csv 
open file using r method
read open file
convert to list
    print first 5 rows

In [11]:
header=data[0]
data=data[1:]
print(data[0:4])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

remove header from data

In [12]:
years=[row[1] for row in data]
year_counts={}
for each in years:
    if each in year_counts:
        year_counts[each]+=1
    else:
        year_counts[each]=1
print(year_counts)

{'2013': 33636, '2014': 33599, '2012': 33563}

counting years

In [13]:
import datetime
dates=[datetime.datetime(year=int(each[1]),month=int(each[2]),day=1) for each in data]
dates[0:4]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

converting to date format using datetime library, assiging year and month based on dataset, day is set as 1

In [14]:
date_counts={}
for date in dates:
    if date not in date_counts:
        date_counts[date]=0
    date_counts[date]+=1
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [15]:
print(date_counts[datetime.datetime(2012, 1, 1, 0, 0)])

2758

In [16]:
sexes=[each[5] for each in data]

sex_counts={}

for row in sexes:
    if row in sex_counts:
        sex_counts[row]+=1
    else:
        sex_counts[row]=1

sex_counts

{'F': 14449, 'M': 86349}

In [17]:
races=[each[7] for each in data]
race_counts={}
for row in races:
    if row in race_counts:
        race_counts[row]+=1
    else:
        race_counts[row]=1
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

In [18]:
f=open('census.csv','r')
r=csv.reader(f)
census=list(r)
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

In [19]:
race_counts.keys()
race_counts

{'Asian/Pacific Islander': 1326,
 'Black': 23296,
 'Hispanic': 9022,
 'Native American/Native Alaskan': 917,
 'White': 66237}

In [20]:
mapping = {
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}
mapping

{'Asian/Pacific Islander': 15834141,
 'Black': 40250635,
 'Hispanic': 44618105,
 'Native American/Native Alaskan': 3739506,
 'White': 197318956}

In [21]:
race_per_hundredk={}
for x, y in race_counts.items():
    race_per_hundredk[x]=(y/mapping[x])*100000
race_per_hundredk

{'Asian/Pacific Islander': 8.374309664161762,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907,
 'Native American/Native Alaskan': 24.521955573811088,
 'White': 33.56849303419181}

In [22]:
intents=[each[3] for each in data]

In [23]:
races=[each[7] for each in data]
races[0:4]

['Asian/Pacific Islander', 'White', 'White', 'White']

In [24]:
homicide_race_counts={}
for i, race in enumerate(races):
    if race not in homicide_race_counts:
            homicide_race_counts[race]=0
    if intents[i]=='Homicide':
        homicide_race_counts[race]+=1
homicide_race_counts

{'Asian/Pacific Islander': 559,
 'Black': 19510,
 'Hispanic': 5634,
 'Native American/Native Alaskan': 326,
 'White': 9147}

In [25]:
for x, y in homicide_race_counts.items():
    race_per_hundredk[x]=(y/mapping[x])*100000
race_per_hundredk

{'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Hispanic': 12.627161104219914,
 'Native American/Native Alaskan': 8.717729026240365,
 'White': 4.6356417981453335}

In [26]:

intent_unique=set(intents)
intent_unique

{'Accidental', 'Homicide', 'NA', 'Suicide', 'Undetermined'}

In [27]:
months=[each[2] for each in data]
months[0:4]

['01', '01', '01', '02']

In [28]:
month_counts={}
for row in months:
    if row in month_counts:
        month_counts[row]+=1
    else:
        month_counts[row]=1
month_counts

{'01': 8273,
 '02': 7093,
 '03': 8289,
 '04': 8455,
 '05': 8669,
 '06': 8677,
 '07': 8989,
 '08': 8783,
 '09': 8508,
 '10': 8406,
 '11': 8243,
 '12': 8413}

In [29]:
homicide_month_rate={}
for i, month in enumerate(months):
    if month not in homicide_month_rate:
        homicide_month_rate[month]=0
    if intents[i]=='Homicide':
        homicide_month_rate[month]+=1
homicide_month_rate

{'01': 2829,
 '02': 2178,
 '03': 2780,
 '04': 2845,
 '05': 2976,
 '06': 3130,
 '07': 3269,
 '08': 3125,
 '09': 2966,
 '10': 2968,
 '11': 2919,
 '12': 3191}

In [30]:
month_rate={}
for x, y in homicide_month_rate.items():
    month_rate[x]=y/month_counts[x]
month_rate

{'01': 0.3419557597002297,
 '02': 0.3070633018468913,
 '03': 0.33538424417903245,
 '04': 0.33648728562980484,
 '05': 0.3432921905640789,
 '06': 0.3607237524490031,
 '07': 0.3636667037490266,
 '08': 0.35580097916429465,
 '09': 0.34861307005171605,
 '10': 0.35308113252438733,
 '11': 0.35411864612398397,
 '12': 0.3792939498395341}

In [33]:
accidental_month={}
for i, month in enumerate(months):
    if month not in accidental_month:
        accidental_month[month]=0
    if intents[i]=='Accidental':
        accidental_month[month]+=1
accidental_month

{'01': 152,
 '02': 127,
 '03': 134,
 '04': 98,
 '05': 115,
 '06': 112,
 '07': 149,
 '08': 164,
 '09': 118,
 '10': 131,
 '11': 160,
 '12': 179}

In [35]:
accidental_rate={}
for x,y in accidental_month.items():
    accidental_rate[x]=y/month_counts[x]
accidental_rate

{'01': 0.018373020669648254,
 '02': 0.01790497673762865,
 '03': 0.016166003136687177,
 '04': 0.011590774689532821,
 '05': 0.013265659245587726,
 '06': 0.012907686988590527,
 '07': 0.016575814884859274,
 '08': 0.018672435386542185,
 '09': 0.01386929948283968,
 '10': 0.015584106590530573,
 '11': 0.019410408831736017,
 '12': 0.02127659574468085}

In [52]:
sexes_suicide_count={}
for i, sex in enumerate(sexes):
    if sex not in sexes_suicide_count:
        sexes_suicide_count[sex]=0
    if intents[i]=="Suicide":
        sexes_suicide_count[sex]+=1
sexes_suicide_count

{'F': 8689, 'M': 54486}

In [60]:
count_total=len(years)
count_total
sexes_suicide_rate={}
for x,y in sexes_suicide_count.items():
    sexes_suicide_rate[x]=y/count_total

sexes_suicide_rate

{'F': 0.08620210718466637, 'M': 0.5405464394134805}